.Book {
  width: 360px;
  border: 1px solid #CCC;
  border-radius: 15px;
  padding: 1em;
  margin: .5em;
  float: left;
  overflow: scroll;
}

.Book-Delete {
  padding: 1em;
  color: #CCC;
  cursor: pointer;
  float: right;
}
